<p id="notice"><%= notice %></p>

<%= button_to "New Instance", new_instance_path, :id => "open-contacts-dialog-btn",
              :class => "btn btn-outline-success my-2 my-sm-0", :method => :get %>


<div class="table-responsive">
  <table class="table table-bordered">
    <tbody>
    <% [*@instances].each do |instance| %>
      <tr>
        <td><%= link_to instance.name, instance %></td>
        <td width="20"><%= link_to 'Edit', edit_instance_url(instance) %></td>
        <td width="20"><%= link_to 'Destroy', instance, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>

    </tbody>
  </table>
</div>