
<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @instance.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @instance.description %>
</p>

<%= link_to 'Back to main page', instances_path %> |
<%= link_to 'Edit', edit_instance_path(@instance) %>
